[submodule "system"]
	path = libs/system
	url = https://github.com/boostorg/system.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "algorithm"]
	path = libs/algorithm
	url = https://github.com/boostorg/algorithm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "concept_check"]
	path = libs/concept_check
	url = https://github.com/boostorg/concept_check.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "functional"]
	path = libs/functional
	url = https://github.com/boostorg/functional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "exception"]
	path = libs/exception
	url = https://github.com/boostorg/exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "io"]
	path = libs/io
	url = https://github.com/boostorg/io.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "integer"]
	path = libs/integer
	url = https://github.com/boostorg/integer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tokenizer"]
	path = libs/tokenizer
	url = https://github.com/boostorg/tokenizer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "regex"]
	path = libs/regex
	url = https://github.com/boostorg/regex.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "date_time"]
	path = libs/date_time
	url = https://github.com/boostorg/date_time.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "logic"]
	path = libs/logic
	url = https://github.com/boostorg/logic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "numeric_conversion"]
	path = libs/numeric/conversion
	url = https://github.com/boostorg/numeric_conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mpl"]
	path = libs/mpl
	url = https://github.com/boostorg/mpl.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "typeof"]
	path = libs/typeof
	url = https://github.com/boostorg/typeof.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tuple"]
	path = libs/tuple
	url = https://github.com/boostorg/tuple.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "utility"]
	path = libs/utility
	url = https://github.com/boostorg/utility.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "filesystem"]
	path = libs/filesystem
	url = https://github.com/boostorg/filesystem.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function"]
	path = libs/function
	url = https://github.com/boostorg/function.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "conversion"]
	path = libs/conversion
	url = https://github.com/boostorg/conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "optional"]
	path = libs/optional
	url = https://github.com/boostorg/optional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "array"]
	path = libs/array
	url = https://github.com/boostorg/array.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_assert"]
	path = libs/static_assert
	url = https://github.com/boostorg/static_assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "range"]
	path = libs/range
	url = https://github.com/boostorg/range.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "rational"]
	path = libs/rational
	url = https://github.com/boostorg/rational.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "iterator"]
	path = libs/iterator
	url = https://github.com/boostorg/iterator.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "build"]
	path = tools/build
	url = https://github.com/boostorg/build.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_traits"]
	path = libs/type_traits
	url = https://github.com/boostorg/type_traits.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bind"]
	path = libs/bind
	url = https://github.com/boostorg/bind.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "pool"]
	path = libs/pool
	url = https://github.com/boostorg/pool.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "fusion"]
	path = libs/fusion
	url = https://github.com/boostorg/fusion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function_types"]
	path = libs/function_types
	url = https://github.com/boostorg/function_types.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "intrusive"]
	path = libs/intrusive
	url = https://github.com/boostorg/intrusive.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "asio"]
	path = libs/asio
	url = https://github.com/boostorg/asio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "unordered"]
	path = libs/unordered
	url = https://github.com/boostorg/unordered.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "atomic"]
	path = libs/atomic
	url = https://github.com/boostorg/atomic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "chrono"]
	path = libs/chrono
	url = https://github.com/boostorg/chrono.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "coroutine"]
	path = libs/coroutine
	url = https://github.com/boostorg/coroutine.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ratio"]
	path = libs/ratio
	url = https://github.com/boostorg/ratio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "context"]
	path = libs/context
	url = https://github.com/boostorg/context.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "align"]
	path = libs/align
	url = https://github.com/boostorg/align.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_index"]
	path = libs/type_index
	url = https://github.com/boostorg/type_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "core"]
	path = libs/core
	url = https://github.com/boostorg/core.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "throw_exception"]
	path = libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "winapi"]
	path = libs/winapi
	url = https://github.com/boostorg/winapi.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lexical_cast"]
	path = libs/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "endian"]
	path = libs/endian
	url = https://github.com/boostorg/endian.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "beast"]
	path = libs/beast
	url = https://github.com/boostorg/beast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mp11"]
	path = libs/mp11
	url = https://github.com/boostorg/mp11.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container_hash"]
	path = libs/container_hash
	url = https://github.com/boostorg/container_hash.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boost_install"]
	path = tools/boost_install
	url = https://github.com/boostorg/boost_install.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "variant2"]
	path = libs/variant2
	url = https://github.com/boostorg/variant2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_string"]
	path = libs/static_string
	url = https://github.com/boostorg/static_string.git
	fetchRecurseSubmodules = on-demand
	branch = .
